.DS_Store
*pyc
.vscode
__pycache__
*.egg-info

checkpoints
results
test_demo
ckpts
cv_webvid
cv_macvid
overfit_macvid
torch_lightning_error.txt
torch_lightning_output.txt
logs
srun_output
test_macvid*
*_output
*_macvid*